# CPSC 330 - Applied Machine Learning 

## Homework 8: Time series
**Due date: [April 10, 11:59pm](https://github.com/UBC-CS/cpsc330-2023W2?tab=readme-ov-file#deliverable-due-dates-tentative).**

## Imports

In [242]:
from hashlib import sha1

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder

from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

## Submission instructions
<hr>

_points: 2_

You will receive marks for correctly submitting this assignment. To submit this assignment, follow the instructions below:

- **You may work on this assignment in a group (group size <= 4) and submit your assignment as a group.** 
- Below are some instructions on working as a group.  
    - The maximum group size is 4. 
    - You can choose your own group members. 
    - Use group work as an opportunity to collaborate and learn new things from each other. 
    - Be respectful to each other and make sure you understand all the concepts in the assignment well. 
    - It's your responsibility to make sure that the assignment is submitted by one of the group members before the deadline. [Here](https://help.gradescope.com/article/m5qz2xsnjy-student-add-group-members) are some instructions on adding group members in Gradescope.  
- Be sure to follow the [homework submission instructions](https://github.com/UBC-CS/cpsc330-2023W2/blob/main/docs/homework_instructions.md).
- Upload the .ipynb file to PrairieLearn.

<br><br>

## Exercise 1: time series prediction

In this exercise we'll be looking at a [dataset of avocado prices](https://www.kaggle.com/neuromusic/avocado-prices). You should start by downloading the dataset. We will be forcasting average avocado price for the next week.

In [243]:
df = pd.read_csv("data/avocado.csv", parse_dates=["Date"], index_col=0)
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [244]:
df.shape

(18249, 13)

In [245]:
df["Date"].min()

Timestamp('2015-01-04 00:00:00')

In [246]:
df["Date"].max()

Timestamp('2018-03-25 00:00:00')

It looks like the data ranges from the start of 2015 to March 2018 (~2 years ago), for a total of 3.25 years or so. Let's split the data so that we have a 6 months of test data.

In [247]:
split_date = '20170925'
df_train = df[df["Date"] <= split_date]
df_test  = df[df["Date"] >  split_date]

In [248]:
assert len(df_train) + len(df_test) == len(df)

<br><br>

<!-- BEGIN QUESTION -->

### 1.1 How many time series? 

_Points:_ 4

In the [Rain in Australia](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package) dataset from lecture, we had different measurements for each Location. How about this avocado sales dataset? For which categorical feature(s), if any, do we have separate measurements? Justify your answer by referencing the dataset.

<div class="alert alert-warning">

Solution_1.1
    
</div>

We see different measurements for each type of avocado as well as region in which the measurement was observed.

In [249]:
df.sort_values(by=["type", "Date"]).head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
51,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
51,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,BaltimoreWashington
51,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,conventional,2015,Boise
51,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,conventional,2015,Boston

In [250]:
df.sort_values(by=["year", "Date"]).head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
51,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
51,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,BaltimoreWashington
51,2015-01-04,1.01,80034.32,44562.12,24964.23,2752.35,7755.62,6064.30,1691.32,0.0,conventional,2015,Boise
51,2015-01-04,1.02,491738.00,7193.87,396752.18,128.82,87663.13,87406.84,256.29,0.0,conventional,2015,Boston

In [251]:
df.sort_values(by=["region", "Date"]).head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
51,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
51,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
50,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
50,2015-01-11,1.77,1182.56,39.00,305.12,0.00,838.44,838.44,0.00,0.0,organic,2015,Albany
49,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 1.2 Equally spaced measurements? 

_Points:_ 4

In the Rain in Australia dataset, the measurements were generally equally spaced but with some exceptions. How about with this dataset? Justify your answer by referencing the dataset.

<div class="alert alert-warning">

Solution_1.2
    
</div>

If we group the time series into regions, and then split them between conventional and organic, we see that the measurements are almost all equally spaced at one week, with the exception being organics in West Texas New Mexico, which saw one gap of 14 days and one gap of 21.

In [252]:
for name, group in df.groupby(['region', 'type']):
    print("%-30s %s" % (name, group["Date"].sort_values().diff().value_counts()))
    print('\n\n\n')

('Albany', 'conventional')     Date
7 days    168
Name: count, dtype: int64




('Albany', 'organic')          Date
7 days    168
Name: count, dtype: int64




('Atlanta', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Atlanta', 'organic')         Date
7 days    168
Name: count, dtype: int64




('BaltimoreWashington', 'conventional') Date
7 days    168
Name: count, dtype: int64




('BaltimoreWashington', 'organic') Date
7 days    168
Name: count, dtype: int64




('Boise', 'conventional')      Date
7 days    168
Name: count, dtype: int64




('Boise', 'organic')           Date
7 days    168
Name: count, dtype: int64




('Boston', 'conventional')     Date
7 days    168
Name: count, dtype: int64




('Boston', 'organic')          Date
7 days    168
Name: count, dtype: int64




('BuffaloRochester', 'conventional') Date
7 days    168
Name: count, dtype: int64




('BuffaloRochester', 'organic') Date
7 days    168
Name: count, dtype: int64




('California', 'conventional') Date
7 days    168
Name: count, dtype: int64




('California', 'organic')      Date
7 days    168
Name: count, dtype: int64




('Charlotte', 'conventional')  Date
7 days    168
Name: count, dtype: int64




('Charlotte', 'organic')       Date
7 days    168
Name: count, dtype: int64




('Chicago', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Chicago', 'organic')         Date
7 days    168
Name: count, dtype: int64




('CincinnatiDayton', 'conventional') Date
7 days    168
Name: count, dtype: int64




('CincinnatiDayton', 'organic') Date
7 days    168
Name: count, dtype: int64




('Columbus', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('Columbus', 'organic')        Date
7 days    168
Name: count, dtype: int64




('DallasFtWorth', 'conventional') Date
7 days    168
Name: count, dtype: int64




('DallasFtWorth', 'organic')   Date
7 days    168
Name: count, dtype: int64




('Denver', 'conventional')     Date
7 days    168
Name: count, dtype: int64




('Denver', 'organic')          Date
7 days    168
Name: count, dtype: int64




('Detroit', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Detroit', 'organic')         Date
7 days    168
Name: count, dtype: int64




('GrandRapids', 'conventional') Date
7 days    168
Name: count, dtype: int64




('GrandRapids', 'organic')     Date
7 days    168
Name: count, dtype: int64




('GreatLakes', 'conventional') Date
7 days    168
Name: count, dtype: int64




('GreatLakes', 'organic')      Date
7 days    168
Name: count, dtype: int64




('HarrisburgScranton', 'conventional') Date
7 days    168
Name: count, dtype: int64




('HarrisburgScranton', 'organic') Date
7 days    168
Name: count, dtype: int64




('HartfordSpringfield', 'conventional') Date
7 days    168
Name: count, dtype: int64




('HartfordSpringfield', 'organic') Date
7 days    168
Name: count, dtype: int64




('Houston', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Houston', 'organic')         Date
7 days    168
Name: count, dtype: int64




('Indianapolis', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Indianapolis', 'organic')    Date
7 days    168
Name: count, dtype: int64




('Jacksonville', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Jacksonville', 'organic')    Date
7 days    168
Name: count, dtype: int64




('LasVegas', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('LasVegas', 'organic')        Date
7 days    168
Name: count, dtype: int64




('LosAngeles', 'conventional') Date
7 days    168
Name: count, dtype: int64




('LosAngeles', 'organic')      Date
7 days    168
Name: count, dtype: int64




('Louisville', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Louisville', 'organic')      Date
7 days    168
Name: count, dtype: int64




('MiamiFtLauderdale', 'conventional') Date
7 days    168
Name: count, dtype: int64




('MiamiFtLauderdale', 'organic') Date
7 days    168
Name: count, dtype: int64




('Midsouth', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('Midsouth', 'organic')        Date
7 days    168
Name: count, dtype: int64




('Nashville', 'conventional')  Date
7 days    168
Name: count, dtype: int64




('Nashville', 'organic')       Date
7 days    168
Name: count, dtype: int64




('NewOrleansMobile', 'conventional') Date
7 days    168
Name: count, dtype: int64




('NewOrleansMobile', 'organic') Date
7 days    168
Name: count, dtype: int64




('NewYork', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('NewYork', 'organic')         Date
7 days    168
Name: count, dtype: int64




('Northeast', 'conventional')  Date
7 days    168
Name: count, dtype: int64




('Northeast', 'organic')       Date
7 days    168
Name: count, dtype: int64




('NorthernNewEngland', 'conventional') Date
7 days    168
Name: count, dtype: int64




('NorthernNewEngland', 'organic') Date
7 days    168
Name: count, dtype: int64




('Orlando', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Orlando', 'organic')         Date
7 days    168
Name: count, dtype: int64




('Philadelphia', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Philadelphia', 'organic')    Date
7 days    168
Name: count, dtype: int64




('PhoenixTucson', 'conventional') Date
7 days    168
Name: count, dtype: int64




('PhoenixTucson', 'organic')   Date
7 days    168
Name: count, dtype: int64




('Pittsburgh', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Pittsburgh', 'organic')      Date
7 days    168
Name: count, dtype: int64




('Plains', 'conventional')     Date
7 days    168
Name: count, dtype: int64




('Plains', 'organic')          Date
7 days    168
Name: count, dtype: int64




('Portland', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('Portland', 'organic')        Date
7 days    168
Name: count, dtype: int64




('RaleighGreensboro', 'conventional') Date
7 days    168
Name: count, dtype: int64




('RaleighGreensboro', 'organic') Date
7 days    168
Name: count, dtype: int64




('RichmondNorfolk', 'conventional') Date
7 days    168
Name: count, dtype: int64




('RichmondNorfolk', 'organic') Date
7 days    168
Name: count, dtype: int64




('Roanoke', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Roanoke', 'organic')         Date
7 days    168
Name: count, dtype: int64




('Sacramento', 'conventional') Date
7 days    168
Name: count, dtype: int64




('Sacramento', 'organic')      Date
7 days    168
Name: count, dtype: int64




('SanDiego', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('SanDiego', 'organic')        Date
7 days    168
Name: count, dtype: int64




('SanFrancisco', 'conventional') Date
7 days    168
Name: count, dtype: int64




('SanFrancisco', 'organic')    Date
7 days    168
Name: count, dtype: int64




('Seattle', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Seattle', 'organic')         Date
7 days    168
Name: count, dtype: int64




('SouthCarolina', 'conventional') Date
7 days    168
Name: count, dtype: int64




('SouthCarolina', 'organic')   Date
7 days    168
Name: count, dtype: int64




('SouthCentral', 'conventional') Date
7 days    168
Name: count, dtype: int64




('SouthCentral', 'organic')    Date
7 days    168
Name: count, dtype: int64




('Southeast', 'conventional')  Date
7 days    168
Name: count, dtype: int64




('Southeast', 'organic')       Date
7 days    168
Name: count, dtype: int64




('Spokane', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('Spokane', 'organic')         Date
7 days    168
Name: count, dtype: int64




('StLouis', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('StLouis', 'organic')         Date
7 days    168
Name: count, dtype: int64




('Syracuse', 'conventional')   Date
7 days    168
Name: count, dtype: int64




('Syracuse', 'organic')        Date
7 days    168
Name: count, dtype: int64




('Tampa', 'conventional')      Date
7 days    168
Name: count, dtype: int64




('Tampa', 'organic')           Date
7 days    168
Name: count, dtype: int64




('TotalUS', 'conventional')    Date
7 days    168
Name: count, dtype: int64




('TotalUS', 'organic')         Date
7 days    168
Name: count, dtype: int64




('West', 'conventional')       Date
7 days    168
Name: count, dtype: int64




('West', 'organic')            Date
7 days    168
Name: count, dtype: int64




('WestTexNewMexico', 'conventional') Date
7 days    168
Name: count, dtype: int64




('WestTexNewMexico', 'organic') Date
7 days     163
14 days      1
21 days      1
Name: count, dtype: int64

In [253]:
...

Ellipsis

In [254]:
...

Ellipsis

In [255]:
...

Ellipsis

In [256]:
...

Ellipsis

In [257]:
...

Ellipsis

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 1.3 Interpreting regions 

_Points:_ 4

In the Rain in Australia dataset, each location was a different place in Australia. For this dataset, look at the names of the regions. Do you think the regions are also all distinct, or are there overlapping regions? Justify your answer by referencing the data.

<div class="alert alert-warning">

Solution_1.3
    
</div>

The regions all appear to be in the USA. There is definitely overlap in some regions: for example, SanDiego and SanFrancisco are both in California, and every region is contained within TotalUS.

In [258]:
df["region"].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

<!-- END QUESTION -->

<br><br>

We will use the entire dataset despite any location-based weirdness uncovered in the previous part.

We will be trying to forecast the avocado price. The function below is adapted from [Lecture 19](https://github.com/UBC-CS/cpsc330-2023W2/blob/main/lectures/mathias/19_time-series.ipynb), with some improvements.

In [261]:
def create_lag_feature(df, orig_feature, lag, groupby, new_feature_name=None, clip=False):
    """
    Creates a new feature that's a lagged version of an existing one.
    
    NOTE: assumes df is already sorted by the time columns and has unique indices.
    
    Parameters
    ----------
    df : pandas.core.frame.DataFrame
        The dataset.
    orig_feature : str
        The column name of the feature we're copying
    lag : int
        The lag; negative lag means values from the past, positive lag means values from the future
    groupby : list
        Column(s) to group by in case df contains multiple time series
    new_feature_name : str
        Override the default name of the newly created column
    clip : bool
        If True, remove rows with a NaN values for the new feature
    
    Returns
    -------
    pandas.core.frame.DataFrame
        A new dataframe with the additional column added.
        
    """
        
    if new_feature_name is None:
        if lag < 0:
            new_feature_name = "%s_lag%d" % (orig_feature, -lag)
        else:
            new_feature_name = "%s_ahead%d" % (orig_feature, lag)
    
    new_df = df.assign(**{new_feature_name : np.nan})
    for name, group in new_df.groupby(groupby):        
        if lag < 0: # take values from the past
            new_df.loc[group.index[-lag:],new_feature_name] = group.iloc[:lag][orig_feature].values
        else:       # take values from the future
            new_df.loc[group.index[:-lag], new_feature_name] = group.iloc[lag:][orig_feature].values
            
    if clip:
        new_df = new_df.dropna(subset=[new_feature_name])
        
    return new_df

We first sort our dataframe properly:

In [262]:
df_sort = df.sort_values(by=["region", "type", "Date"]).reset_index(drop=True)
df_sort

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.0,organic,2018,WestTexNewMexico
18245,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.0,organic,2018,WestTexNewMexico
18246,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.0,organic,2018,WestTexNewMexico
18247,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico
18248,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.0,organic,2018,WestTexNewMexico

We then call `create_lag_feature`. This creates a new column in the dataset `AveragePriceNextWeek`, which is the following week's `AveragePrice`. We have set `clip=True` which means it will remove rows where the target would be missing.

In [263]:
df_hastarget = create_lag_feature(df_sort, "AveragePrice", +1, ["region", "type"], "AveragePriceNextWeek", clip=True)
df_hastarget

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,AveragePriceNextWeek
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany,1.24
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany,1.17
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany,1.06
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany,0.99
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.0,organic,2018,WestTexNewMexico,1.57
18244,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.0,organic,2018,WestTexNewMexico,1.54
18245,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.0,organic,2018,WestTexNewMexico,1.56
18246,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.0,organic,2018,WestTexNewMexico,1.56
18247,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico,1.62

Our goal is to predict `AveragePriceNextWeek`.

Let's split the data:

In [267]:
df_train = df_hastarget[df_hastarget["Date"] <= split_date]
df_test  = df_hastarget[df_hastarget["Date"] >  split_date]

<br><br>

### 1.4 `AveragePrice` baseline 

_Points:_ 4

Soon we will want to build some models to forecast the average avocado price a week in advance. Before we start with any ML though, let's try a baseline. Previously we used `DummyClassifier` or `DummyRegressor` as a baseline. This time, we'll do something else as a baseline: we'll assume the price stays the same from this week to next week. So, we'll set our prediction of "AveragePriceNextWeek" exactly equal to "AveragePrice", assuming no change. That is kind of like saying, "If it's raining today then I'm guessing it will be raining tomorrow". This simplistic approach will not get a great score but it's a good starting point for reference. If our model does worse that this, it must not be very good. 

Using this baseline approach, what $R^2$ do you get on the train and test data?

<div class="alert alert-warning">

Solution_1.4
    
</div>

_Type your answer here, replacing this text._

In [265]:
this_week_train = df_train["AveragePrice"]
next_week_train = df_train["AveragePriceNextWeek"]
train_r2 = r2_score(this_week_train, next_week_train)
train_r2

0.8269258528703269

In [266]:
this_week_test = df_test["AveragePrice"]
next_week_test = df_test["AveragePriceNextWeek"]
test_r2 = r2_score(this_week_test, next_week_test)
test_r2

0.7801605371275765

<br><br>

<!-- BEGIN QUESTION -->

### 1.5 Forecasting average avocado price

_Points:_ 10

Now that the baseline is done, let's build some models to forecast the average avocado price a week later. Experiment with a few approachs for encoding the date. Justify the decisions you make. Which approach worked best? Report your test score and briefly discuss your results.

Benchmark: you should be able to achieve $R^2$ of at least 0.79 on the test set. We got to 0.80, but not beyond that. Let us know if you do better!

Note: because we only have 2 splits here, we need to be a bit wary of overfitting on the test set. Try not to test on it a ridiculous number of times. If you are interested in some proper ways of dealing with this, see for example sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html), which is like cross-validation for time series data.

<div class="alert alert-warning">

Solution_1.3
    
</div>

I first tried not encoding the date at all, which gave an error. According to a brief search, `sklearn` does not accept `datetime64` as a data type.

Then, I tried

In [210]:
X_train = df_train.drop(columns="AveragePriceNextWeek")
y_train = df_train["AveragePriceNextWeek"]
X_test = df_test.drop(columns="AveragePriceNextWeek")
y_test = df_test["AveragePriceNextWeek"]

In [211]:
# Month and Day feature
def create_month_day_feature(features):
    month_day_array = np.array([(date.month_name() + " " + str(date.day)) for date in features["Date"]], dtype=object)
    new_df = features.copy()
    new_df["month_day"] = month_day_array
    return new_df

In [212]:
X_train_month_day = create_month_day_feature(X_train)
X_test_month_day = create_month_day_feature(X_test)

In [213]:
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import Pipeline, make_pipeline

In [237]:
numeric_feats = [
    "AveragePrice",
    "Total Volume",
    "4046",
    "4225",
    "4770",
    "Total Bags",
    "Small Bags",
    "Large Bags",
    "XLarge Bags",
]
binary_feats = ["type"]
categorical_feats = ["region", "month_day"]
drop_feats = ["Date", "year"]
preprocessor = make_column_transformer(
    (
        make_pipeline(SimpleImputer(), StandardScaler()),
        numeric_feats
    ),
    (
        OneHotEncoder(drop="if_binary", dtype=int),
        binary_feats
    ),
    (
        OneHotEncoder(handle_unknown="ignore"),
        categorical_feats
    ),
    remainder="drop"
)
X_train_month_day_transformed = preprocessor.fit_transform(X_train_month_day)
X_train_month_day_transformed

<15441x207 sparse matrix of type '<class 'numpy.float64'>'
	with 177570 stored elements in Compressed Sparse Row format>

In [238]:
lr_categorical = Ridge()
lr_categorical.fit(X_train_month_day_transformed, y_train)
lr_categorical.score(X_train_month_day_transformed, y_train)

0.8631892284896326

In [239]:
X_test_month_day_transformed = preprocessor.transform(X_test_month_day)
lr_categorical.score(X_test_month_day_transformed, y_test)

0.8044566810129337

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

In [ ]:
...

<!-- END QUESTION -->

<br><br><br><br>

## Exercise 2: very short answer questions

Each question is worth 2 points.

<!-- BEGIN QUESTION -->

### 2.1 Time series

_Points:_ 4

The following questions pertain to Lecture 19 on time series data:

1. Sometimes a time series has missing time points or, worse, time points that are unequally spaced in general. Give an example of a real world situation where the time series data would have unequally spaced time points.
2. In class we discussed two approaches to using temporal information: encoding the date as one or more features, and creating lagged versions of features. Which of these (one/other/both/neither) two approaches would struggle with unequally spaced time points? Briefly justify your answer.

<div class="alert alert-warning">

Solution_2.1
    
</div>

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 2.2 Survival analysis

_Points:_ 6

The following questions pertain to Lecture 20 on survival analysis. We'll consider the use case of customer churn analysis.

1. What is the problem with simply labeling customers are "churned" or "not churned" and using standard supervised learning techniques?
2. Consider customer A who just joined last week vs. customer B who has been with the service for a year. Who do you expect will leave the service first: probably customer A, probably customer B, or we don't have enough information to answer?
3. If a customer's survival function is almost flat during a certain period, how do we interpret that?

<div class="alert alert-warning">

Solution_2.2
    
</div>

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br><br>

**PLEASE READ BEFORE YOU SUBMIT:** When you are ready to submit your assignment do the following:

1. Run all cells in your notebook to make sure there are no errors by doing `Kernel -> Restart Kernel and Clear All Outputs` and then `Run -> Run All Cells`. 
2. Notebooks with cell execution numbers out of order or not starting from “1” will have marks deducted. Notebooks without the output displayed may not be graded at all (because we need to see the output in order to grade your work).
3. Upload the assignment using [PrairieLearn](https://ca.prairielearn.com/pl/course_instance/6697). Don't forget to rename your file `hw8_sol.ipynb`.

![](img/eva-well-done.png)